@import url('https://fonts.googleapis.com/css?family=Cinzel:700&display=swap');

.wine {
  color: white;
  font-family: 'cinzel', serif;
  font-size: 45px;
  text-align: center;
}

.wines {
  text-align: center;
  width: 50%;
}